.portfolio__card{
    display: flex;
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0px 10px 20px 8px var(--color-accent);
}

.portfolio__card:hover{
    box-shadow: var(--box-shadow-hover);
    transform: scale(0.96);
    transition: 0.4s ease-out;
}

.porfolio__item{
    margin-block: 70px;
}

.portfolio__card-image-wrapper{
    margin: 30px;
    margin-right: 50px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-accent);
}

.portfolio__card-body{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.portfolio__title{
    margin-bottom: 30px;
    font-size: 40px;
}

.portfolio-card__title{
    font-size: 30px;
}

.portfolio-card__link::after{
    content: '';
    display: inline-block;
    width: 15px; /* Ширина изображения */
    height: 15px; /* Высота изображения */
    margin-left: 8px; /* Отступ между изображением и текстом */
    background-image: url('/images/icon/link.svg'); /* Укажите путь к изображению */
    background-size: contain; /* Увеличить/уменьшить изображение, чтобы поместилось */
    background-repeat: no-repeat;
    vertical-align: middle; 
}

.porfolio-card__description{
    margin: 7px;
}

@media (max-width: 768px){
    .portfolio__card{
        flex-direction: column;
    }
    .portfolio__card-image-wrapper{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .portfolio__card-body{
        align-items: center;
    }
    .portfolio__title{
        font-size: 30px;
    }
    .portfolio-card__title{
        font-size: 20px;
    }
}