@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Italic-VariableFont_opsz\,wght.woff2') format('.woff2');
    font-weight: 500 ;
    font-style: normal ;
    font-display: swap ;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz\,wght.woff2') format('.woff2');
    font-weight: 400 ;
    font-style: normal ;
    font-display: swap ;
} 

@font-face {
    font-family: 'Jersey15';
    src: url('/fonts/Jersey15-Regular.woff2') format('.woff2');
    font-weight: 600 ;
    font-style: normal ;
    font-display: swap ;
} 